/* banner-slide */
.banner-slide {
    position: relative;
    width: 100%;
}
.banner-slide .center {
    left: 50%;
    margin-left: -500px;
    position: absolute;
    width: 1000px;
}
.banner-slide .hd {
    bottom: 20px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.banner-slide .hd ul {
    text-align: center;
    width: 100%;
}
.banner-slide .hd li {
    background-color: #d5d7dd;
    cursor: pointer;
    display: inline-block;
    height: 7px;
    margin: 0 5px;
    opacity: 0.5;
    width: 30px;
}
.banner-slide .hd ul .on {
    background: #eb3033 none repeat scroll 0 0;
    opacity: 1;
}
.banner-slide .bd ul {
    width: 100% !important;
}
.banner-slide .bd li {
    height: 400px;
    width: 100% !important;
}
.banner-slide .bd li a {
    display: block;
    height: 400px;
}
.banner-slide .prev {
    background: rgba(0, 0, 0, 0) url("/images/common/prevArrow.png") no-repeat scroll 0 0;
    cursor: pointer;
    display: none;
    height: 80px;
    left: -150px;
    position: absolute;
    top: -250px;
    width: 50px;
    z-index: 2;
}
.banner-slide .next {
    background: rgba(0, 0, 0, 0) url("/images/common/nextArrow.png") no-repeat scroll 0 0;
    cursor: pointer;
    display: none;
    height: 80px;
    position: absolute;
    right: -150px;
    top: -250px;
    width: 50px;
    z-index: 2;
}
.banner-slide .prev:hover, .banner-slide .next:hover {
    opacity: 0.8 !important;
}




/* footer */
.footer {
    border-top: 1px solid #e5e5e5;
    color: #767676;
    margin-top: 100px;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
}

.footer p {
    margin-bottom: 0;
}

.footer-links {
    margin-top: 20px;
    padding-left: 0;
}

.footer-links li:first-child {
    padding-left: 0;
}
.footer-links li {
    display: inline;
    padding: 0 2px;
}

/* footer2 */
.footer2 {
    border-top: 1px solid #8a724e;
    width: 100%;
}

.footer2 p {
    color: #9d9d9d;
    font-family: "微软雅黑",sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    padding-top: 10px;
    text-transform: uppercase;
}
.footer2 p a {
    text-transform: none;
}